<div class="new-post-container">
  <div class="page-header">
    <h1 class="page-title">
      <i class="fa-solid fa-plus-circle"></i>
      Create New Post
    </h1>
    
    <%= link_to posts_path, class: "btn btn-link" do %>
      <i class="fa-solid fa-arrow-left"></i> Back to Posts
    <% end %>
  </div>

  <%= render 'form', post: @post %>
</div> 